<a href="https://colab.research.google.com/github/Younger0/Younger0.github.io/blob/main/Stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.68)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.0)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [19]:
import yfinance as yf

In [20]:
yf

In [22]:
snp = yf.Ticker("^GSPC").history(period='10y')
ftse = yf.Ticker("^FTSE").history(period='10y')

In [23]:
snp

                   Open         High  ...  Dividends  Stock Splits
Date                                  ...
2012-01-03  1258.859985  1284.619995  ...          0             0
2012-01-04  1277.030029  1278.729980  ...          0             0
2012-01-05  1277.300049  1283.050049  ...          0             0
2012-01-06  1280.930054  1281.839966  ...          0             0
2012-01-09  1277.829956  1281.989990  ...          0             0
...                 ...          ...  ...        ...           ...
2021-12-28  4795.490234  4807.020020  ...          0             0
2021-12-29  4788.640137  4804.060059  ...          0             0
2021-12-30  4794.229980  4808.930176  ...          0             0
2021-12-31  4775.209961  4786.830078  ...          0             0
2022-01-03  4778.140137  4795.859863  ...          0             0

[2518 rows x 7 columns]

In [24]:
ftse

                   Open         High  ...  Dividends  Stock Splits
Date                                  ...
2012-01-03  5572.299805  5699.899902  ...          0             0
2012-01-04  5699.899902  5719.799805  ...          0             0
2012-01-05  5668.500000  5689.299805  ...          0             0
2012-01-06  5624.299805  5682.799805  ...          0             0
2012-01-09  5649.700195  5673.799805  ...          0             0
...                 ...          ...  ...        ...           ...
2021-12-23  7341.700195  7385.399902  ...          0             0
2021-12-24  7373.299805  7403.700195  ...          0             0
2021-12-29  7372.100098  7457.100098  ...          0             0
2021-12-30  7420.700195  7433.399902  ...          0             0
2021-12-31  7403.000000  7403.000000  ...          0             0

[2527 rows x 7 columns]

In [25]:
snp=snp[['Close']]
snp['Name']='S&P500'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
snp

                  Close    Name
Date
2012-01-03  1277.060059  S&P500
2012-01-04  1277.300049  S&P500
2012-01-05  1281.060059  S&P500
2012-01-06  1277.810059  S&P500
2012-01-09  1280.699951  S&P500
...                 ...     ...
2021-12-28  4786.350098  S&P500
2021-12-29  4793.060059  S&P500
2021-12-30  4778.729980  S&P500
2021-12-31  4766.180176  S&P500
2022-01-03  4783.350098  S&P500

[2518 rows x 2 columns]

In [27]:
ftse=ftse[['Close']]
ftse['Name']='FTSE100'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
ftse

                  Close     Name
Date
2012-01-03  5699.899902  FTSE100
2012-01-04  5668.500000  FTSE100
2012-01-05  5624.299805  FTSE100
2012-01-06  5649.700195  FTSE100
2012-01-09  5612.299805  FTSE100
...                 ...      ...
2021-12-23  7373.299805  FTSE100
2021-12-24  7372.100098  FTSE100
2021-12-29  7420.700195  FTSE100
2021-12-30  7403.000000  FTSE100
2021-12-31  7384.500000  FTSE100

[2527 rows x 2 columns]

In [42]:
dfs=[]
for x in ['^GSPC','^FTSE']:
  df = yf.Ticker(x).history(period='10y')
  df=df[['Close']]
  df['Name']=x
  dfs.append(df)

In [43]:
df

                  Close   Name
Date
2012-01-03  5699.899902  ^FTSE
2012-01-04  5668.500000  ^FTSE
2012-01-05  5624.299805  ^FTSE
2012-01-06  5649.700195  ^FTSE
2012-01-09  5612.299805  ^FTSE
...                 ...    ...
2021-12-23  7373.299805  ^FTSE
2021-12-24  7372.100098  ^FTSE
2021-12-29  7420.700195  ^FTSE
2021-12-30  7403.000000  ^FTSE
2021-12-31  7384.500000  ^FTSE

[2527 rows x 2 columns]

In [ ]:
import pandas as pd
pd.concat([ dfs[0],dfs[1] ])

In [44]:
dfz=pd.DataFrame() #initialise empty DataFrame
for x in dfs:
  stock_name=x['Name'].values[0]
  stock_name=stock_name.replace('.','')
  x=x[['Close']]
  x.columns=[stock_name]
  dfz=x.join(dfz)

In [45]:
dfz

                  ^FTSE        ^GSPC
Date
2012-01-03  5699.899902  1277.060059
2012-01-04  5668.500000  1277.300049
2012-01-05  5624.299805  1281.060059
2012-01-06  5649.700195  1277.810059
2012-01-09  5612.299805  1280.699951
...                 ...          ...
2021-12-23  7373.299805  4725.790039
2021-12-24  7372.100098          NaN
2021-12-29  7420.700195  4793.060059
2021-12-30  7403.000000  4778.729980
2021-12-31  7384.500000  4766.180176

[2527 rows x 2 columns]

In [49]:
import numpy as np

In [51]:
dfz

                  ^FTSE        ^GSPC
Date
2012-01-03  5699.899902  1277.060059
2012-01-04  5668.500000  1277.300049
2012-01-05  5624.299805  1281.060059
2012-01-06  5649.700195  1277.810059
2012-01-09  5612.299805  1280.699951
...                 ...          ...
2021-12-23  7373.299805  4725.790039
2021-12-24  7372.100098          NaN
2021-12-29  7420.700195  4793.060059
2021-12-30  7403.000000  4778.729980
2021-12-31  7384.500000  4766.180176

[2527 rows x 2 columns]

In [64]:
dfz.dropna(subset=["^FTSE", "^GSPC"], inplace=True)

In [65]:
dfz

                  ^FTSE        ^GSPC
Date
2012-01-03  5699.899902  1277.060059
2012-01-04  5668.500000  1277.300049
2012-01-05  5624.299805  1281.060059
2012-01-06  5649.700195  1277.810059
2012-01-09  5612.299805  1280.699951
...                 ...          ...
2021-12-22  7341.700195  4696.560059
2021-12-23  7373.299805  4725.790039
2021-12-29  7420.700195  4793.060059
2021-12-30  7403.000000  4778.729980
2021-12-31  7384.500000  4766.180176

[2473 rows x 2 columns]

In [66]:
dfz.to_csv('stocks_data.csv')

In [67]:
from google.colab import files

In [68]:
files.download ('stocks_data.csv')